
<!-- //Head -->
<!-- Body -->
<% include ../partials/header %>
<% include ../partials/menu %>
	<!-- <h1> Link Accounts </h1> -->
	<div class = "container w3layouts agileits" style = "position:relative; top:40px">
		<h1 style = "position:relative; margin-top: 10px;"> Welcome to Monosic! </h1>
		<div style = "position:relative;">
			<p style = "color:white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente minima fugiat dolores ex perspiciatis, velit rem excepturi tempore cupiditate distinctio eligendi possimus magnam quisquam dolorum debitis ea dolor! Error, itaque?</p>
			<p style = "color:white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente minima fugiat dolores ex perspiciatis, velit rem excepturi tempore cupiditate distinctio eligendi possimus magnam quisquam dolorum debitis ea dolor! Error, itaque?</p>
		</div>
	</div>

  <% include ../partials/footer %>
