
<!-- //Head -->
<!-- Body -->
<% include ../partials/header %>
<% include ../partials/menu %>
	<!-- <h1> Link Accounts </h1> -->
	<div class = "container w3layouts agileits" style = "position:relative; top:40px">
		<h1 style = "position:relative; margin-top: 10px;"> Welcome to Monosic! </h1>
		<!-- Move it up -->
		<div style = "position:relative; margin-top: -50px; color:white;">
			<p style = "text-align:left;"> Monosic is a platform that enables users to seamlessly transfer music playlists across different streaming services for free! </p>
			<!-- <br> -->
			<hr style = "border-color: white; background-color: white;">
			<p style = "text-align:left;"> We currently support Apple Music and Spotify. Simply login in the upper right hand corner of the webpage to start. </p>
			<hr style = "border-color: white; background-color: white;">
			<p style = "text-align:left;"> Created by: Max Macaluso, Peter Martin, Robert Sarno, Zongyi Huang, Keyu Wu, and Jiahoa Wang </p>
		</div>
	</div>

  <% include ../partials/footer %>
