
<!-- //Head -->
<!-- Body -->
<% include ../partials/header %>
<script></script>
</head><body>

<% include ../partials/menu %>

<%
	var me = "";
	if (user != null){
		 me = user+",";
	}



%>
	<!-- <h1> Link Accounts </h1> -->
	<div class = "container w3layouts agileits" style = "position:relative; top:40px">
		<h1 style = "position:relative; margin-top: 10px; padding-bottom: 0px; margin-bottom: 0px;"> Welcome <%-me%> to Monosic! </h1>
		<img style = "width:100%; max-width:250px;" src="../resources/img/monosic2.png">
		<div style = "position:relative; margin-top: 0px; padding-top: 0px; color:white;">
			<h2>What is Monosic?</h2>
			<p style = "text-align:left;"> Monosic is a platform that enables users to seamlessly transfer music playlists across different streaming services for free! </p>
			<!-- <br> -->
			<hr style = "border-color: white; background-color: white;">
			<h2>How do I use Monosic?</h2>
			<p style = "text-align:left;"> We currently support Apple Music and Spotify. Simply login in the upper right hand corner of the webpage to start. </p>
			<hr style = "border-color: white; background-color: white;">
			<p style = "text-align:left;"> Created by: Max Macaluso, Peter Martin, Robert Sarno, Zongyi Huang, Keyu Wu, and Jiahoa Wang </p>
		</div>
	</div>

  <% include ../partials/footer %>
