<!-- //Head -->

<!-- Body -->
<% include ../partials/header %>
<script src="../../resources/js/musicPageJS.js"></script>

</head><body>
<% include ../partials/menu %>


	<!-- <h1> Link Accounts </h1> -->
	<div class = "container w3layouts agileits" style = "position:relative; top:40px">
		<h1 style = "position:relative; margin-top: 5px;"> Playlist Merger </h1>
		<div class = "row">
			<div class = "col" style = "position:relative;">
			<h2> Spotify </h2>
		<div id = "spotifyPlaylists">
			<!--button class = "button1" id = "button1" style = "vertical-align: middle; width:100%; position:relative; left:40px"> <span>Playlist A </span></button>
			<button class = "button1" id = "button2" style = "vertical-align: middle; width:100%; position:relative; left:40px"> <span>Playlist B </span></button>
			<button class = "button1" id = "button3" style = "vertical-align: middle; width:100%; position:relative; left:40px"> <span>Playlist C </span></button-->
			<p style = "color: white; text-align: center; padding-top: 30px;">This service is not linked yet</p>
		</div>
			<div class="clear"></div>
			</div>
		</div>
<div class = "row">
	<div class = "col">
			<hr style = "position:relative; color = white; background: gray;">
			<h2>Youtube Music</h2>
			<div id = "youtubePlaylists">
				<!--button class = "button1" id = "button1" style = "vertical-align: middle; width:100%; position:relative; left:40px"> <span>Playlist A </span></button>
				<button class = "button1" id = "button2" style = "vertical-align: middle; width:100%; position:relative; left:40px"> <span>Playlist B </span></button>
				<button class = "button1" id = "button3" style = "vertical-align: middle; width:100%; position:relative; left:40px"> <span>Playlist C </span></button-->
				<p style = "color: white; text-align: center; padding-top: 30px;">This service is not linked yet</p>
			<div class="clear"></div>
		</div>
	</div>

		<div class="clear"></div>
		</div>

	</div>
	</div>

	<% include ../partials/footer %>
